
header {
    background-color: var(--fundo);
    color:var(--branco) ;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    height: 30vh;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

